<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Users Management</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <style>
        /* Additional CSS for adjusting form width */
        #addUserForm {
            max-width: 450px; /* Adjust the maximum width of the form */
            /* margin-right: auto; /* Center the form horizontally */
            /* margin-left: auto; */
        }

        /* Custom CSS for table buttons */
        .table .btn {
            padding: 0.25rem 0.5rem; /* Adjust button padding */
            font-size: 0.875rem; /* Adjust button font size */
        }
    </style>
</head>
